:root {
  --color-olive: #30B97F;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;
  --color-yellow: #FFFF00;
  --color-blue: #6a83fb;
  --color-dark-blue: #03003A;
  --color-light-gray: #F3F3F3;
  --color-gray: #E6E6E6;

  --width-max: 1200px;

  --margin-list: 7px;

  --font-family-main: sans-serif;
  --font-bold: 800;

  --font-size-logo: 38px;
  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --font-size-main: 16px;
  --font-size-small: 14px;

  --letter-spacing-large: 15px;
  --letter-spacing-small: 4px;

  --spacing-utrasmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-ultralarge: 200px;

  --border-radius-small: 3px;
  --border-radius-medium: 5px;
  --border-radius-laege: 16px;

  --transition: .4s;

  --box-shadow-white:
    0 16px 24px 2px rgba(255, 255, 255, 0.02), 
    0 6px 30px 5px rgba(255, 255, 255, 0.04), 
    0 8px 10px -5px rgba(255, 255, 255, 0.1);

  --text-swadow-yellow:
    0 0 2px var(--color-white),
    0 0 40px var(--color-yellow);

  --text-swadow-black:
    0 0 2px var(--color-white),
    0 0 2px var(--color-black);

  --main-color-light: var(--color-light-gray);
  --secondary-color-light: var(--color-olive);
}

*, *:after, *:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color-light);
  font-family: var(--font-family-main);
} 
img {
  display: block;
}

.header__text {
  margin-top: var(--spacing-large);
  text-align: center;
  font-size: var(--font-size-header);
  letter-spacing: var(--letter-spacing-small);
}