.button {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var( --spacing-small);
    border: 2px solid var(--color-black);
    border-radius: var(--border-radius-laege);
    cursor: pointer;
    margin-top: var(--spacing-large);
    transition: all var(--transition);
}
.button:hover {
    scale: 1.1;
    box-shadow: var(--box-shadow-black);
}
.img {
    width: 30px;
    height: 30px;
}