.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list__item{
    width: 190px;
    margin: var(--spacing-medium);
    border: 2px solid var(--color-black);
    border-radius: var(--border-radius-laege);
    background-color: var(--color-white);
    cursor: pointer;
    transition: all var(--transition);
}
.list__item a {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
}
.product__photo {
    width: 100%;
    height: 260px;
    object-fit: contain;
    object-position: center center;
    border-radius: var(--border-radius-laege) var(--border-radius-laege) 0 0;
}
.list__item:hover {
    scale: 1.1;
    box-shadow: var(--box-shadow-black);
}