.modal__button {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: var(--font-size-main);
    text-transform: capitalize;
    border: 1px solid var(--color-dark-gray);
    border-radius: var(--border-radius-laege);
    cursor: pointer;
    transition: all var(--transition);
}
.modal__button:hover {
    scale: 1.1;
    box-shadow: var(--box-shadow-black);
}