.wrapper__cloth {
    display: flex;
    justify-content: space-between;
}
.container {
    width: 580px;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
}
.img {
    width: 500px;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    object-fit: cover;
    object-position: center center;
}
.background {
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: var(--color-black);
    z-index: -1;

}
.background:last-child {
    margin-top: 280px;
}
.text {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-header);
    letter-spacing: var(--letter-spacing-small);
}

.wrapper__jewerly {
    margin: 0;
    margin-top: var(--spacing-large);
    padding: var(--spacing-large);
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.square__one {
    width: 200px;
    height: 200px;
    background-color: var(--color-black);
    position: absolute;
    top: 15px;
    left: 15px;
}
.square__two {
    width: 200px;
    height: 200px;
    background-color: var(--color-black);
    position: absolute;
    bottom: 65px;
    right: 15px;
}
.jewerly__img {
    padding-bottom: var(--spacing-large);
    width: 1110px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
    z-index: 2;
}